header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    width: auto;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header .Link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    text-shadow: 0px 5px 5px rgba(252, 252, 252, 0.6);
    transition: text-shadow 0.5s ease, color 0.5s ease;
}

header .Link:hover {
    color: rgb(209, 209, 209);
    text-shadow: 0px 5px 5px rgba(252, 252, 252, 0.8);

}

header .Link:active {
    transform: translate(0px, 3px);
}
